# Supabase — pegue em: supabase.com > seu projeto > Settings > API
NEXT_PUBLIC_SUPABASE_URL=https://ydcttajdivflohmurisy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkY3R0YWpkaXZmbG9obXVyaXN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0ODg4MzMsImV4cCI6MjEwMDA2NDgzM30.C-YqFb8VwEhVOtPgM3IhRWgVWqHkOd2KvTcHFdBpAcs
# Apenas no servidor (nunca exposta ao cliente)
SUPABASE_SERVICE_ROLE_KEY=WBXmHM*z$&9U-jP